/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	color:000000;
}

h1{
	font-size: 50px;
	opacity: 90%;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica;
}

h2{
	font-size: 70px;
	color:white;
	opacity: 90%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-style:italic;
}

h3{
	font-size: 50px;
	opacity: 90%;
	text-align: center;
	font-family: 'Notable', sans-serif;
}

h4{
	font-size: 27px;
	line-height:1.7em;
	font-family:'Ubuntu', sans-serif;
	text-align:center;
	letter-spacing: 2px;
	margin-left: 100px;
	margin-right: 100px;
}

p{
	line-height:1.55em;
	font-family:'Ubuntu', sans-serif;
	text-align:left;
	padding:20px;
	letter-spacing: 2.2px;
}


/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	background-color:white;
}

.box-title{
	display:grid;
	grid-template-columns: auto auto;
	grid-template-rows:auto auto auto;
	background-color: #000000;
	font-family: 'Notable', sans-serif;
	color:#F6CC00;
}

.box-title-history{
		display:grid;
		grid-template-columns: auto auto;
		grid-template-rows:auto auto auto;
		background-color: #000000;
		font-family: 'Notable', sans-serif;
		color:#11528F;
	}


.box-title-architecture{
			display:grid;
			grid-template-columns: auto auto;
			grid-template-rows:auto auto auto;
			background-color: #FFFFFF;
			font-family: 'Notable', sans-serif;
			color:#303030;
		}

.box-title-impact{
					display:grid;
					grid-template-columns: auto auto;
					grid-template-rows:auto auto auto;
					background-color: #000000;
					font-family: 'Notable', sans-serif;
					color:#BF4215;
				}



.global-nav ul{
					padding:1em;
					display:flex;
					font-family: 'Notable', sans-serif;
					font-size: 20px;
				}

.global-nav li{
					list-style-type: none;
					text-align: center;
					flex:3 1 300px;
					flex-wrap:wrap;
					min-width: 200px;
					font-family: 'Notable', sans-serif;
				}

.global-nav a {
					background: #303030;
					color:#FFFFFF;
					text-decoration:none;
					display: block;
					padding:1em;
					font-family: 'Notable', sans-serif;
				}
/* -----------------------HOME PAGE------------------------------------- */

.box-black{
	background-color: #000000;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row:auto;
	padding-bottom: 0;
	display:grid;
	grid-row: 2/3;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left:120px;
	padding-right:120px;
	color:rgba(255, 255, 255);
	background-image: url("../img/yellow2.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}

.words{
	padding:30px;
	margin:30px;

}

.box-home {
	background-image: url("../img/Bauhaus2.jpg");
	background-size:contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3/3;
	background-size: cover;
}

.sub {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:0.5fr 1fr 0.5fr;
}

.Bauhaus{
	padding-top: 100px;
	display:grid;
	text-align: center;
	grid-row: 2/3;
	margin-left: 150px;
	margin-right: 150px;
	background-color: rgba(199, 166, 6, 0.8);
	color:white;
	text-align:left;
	padding:20px;
	letter-spacing: 2px;
	grid-column-start: 1;
	grid-column-end: 3;
}

/* -----------------------HISTORY PAGE------------------------------------- */

.box-movement{
	background-image: url("../img/history.jpg");
	background-size:auto;
	background-repeat: no-repeat;
	background-position:top;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 70px;
}

.movement{
	display:grid;
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
	background-color: rgba(17, 82, 143, 0.6);
	color:white;
	text-align:left;
	padding:70px;
	letter-spacing: 2px;
}


.weimar{
	padding-top:30px;
	padding-left: 150px;
	padding-right: 150px;
	color:black;
}

.photo_G{
	text-align: center;
	padding-bottom: 30px;
	padding-left: 150px;
	padding-right: 150px;
}

.photo_D{
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 70px;
}

.photo_M{
	text-align: center;
	padding-bottom: 30px;
}
.angle{
	border-top: 70px solid #11528F;
	border-bottom:70px solid #11528F;
	border-left:70px solid #11528F;
	border-right:70px solid #11528F;
	text-align:center;
}
.Dessau{
	padding-left: 150px;
	padding-right: 150px;
	color:black;
}

.Berlin{
	padding-left: 150px;
	padding-right: 150px;
	color:black;
}

/* ---------------------------ARCHITECTURE PAGE--------------------------------- */
.box-school{
	background-image: url("../img/school.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 900px;
	color:#1f1f1f;
}
.paragraph{
	margin-top: 350px;
	text-align: center;
	padding-left:100px;
	padding-right:100px;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: white;
	margin-left: 100px;
	margin-right: 100px;
	text-indent: 50px;
}

.box-more{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-left:100px;
	padding-right:100px;
	padding-top: 40px;
	padding-bottom:40px;
	grid-gap:20px;
	background-color: #303030;
	color:white;

}

.photo_wei2{
	grid-column:2/2;
	grid-row:1/1;
	background-color:white;
	padding:40px;
	padding-top: 70px;
}

.para{
	grid-column: 2/2;
	grid-row: 2/2;
}

.photo_100{
	grid-column: 1/1;
	grid-row: 2/2;
	background-color:white;
	align-content: center;
	padding:40px;
	padding-top: 70px;
}
.para2{
		grid-column:1/1;
		grid-row: 1/1;
}
.quote{
	color:white;
}

blockquote{
  font-size: 30px;
  background: #303030;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: white;
  font-size: 3em;
}

h4{
	margin:0;
}



/* ---------------------------IMPACT PAGE--------------------------------- */

.box-summary{
	padding-top: 300px;
	padding: 50px;
	grid-template-rows:auto auto;
	background-image: url("../img/pink3.gif");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	padding-bottom: 100px;
}
.summary{
	background-color: rgba(0,0,0,0.3);
	color:white;
	padding-top:50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 70px;
	margin-top: 70px;
	font-size: 22px;
}

.box-education{
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
}

.grid2{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.walter{
	grid-column: 2/2;
	grid-row: 1/1;
}

.photo_wei{
	grid-column: 1/1;
	grid-row: 1/1;
}


.box-furniture{
	margin-top: 100px;
	margin-left: 40px;
	margin-right:40px;
}
.grid{
	margin-top: 20px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-left:100px;
	padding-right:100px;
	padding-bottom: 70px;
}

.photo_Barcelona{
	grid-column: 2/2;
	padding-top: 30px;
	grid-row: 1/1;
}

.contribution{
	grid-column: 1/1;
	grid-row: 1/1;
}

.As{
	grid-column: 2/2;
	grid-row: 2/2;
}

.photo_archive{
	grid-column: 1/1;
	grid-row: 2/2;
}

.box-2019{
	grid-template-rows:auto auto;
	background-image: url("../img/book.gif");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	margin-top: 50px;
	margin-bottom: 50px;
	grid-template-columns: 1fr 1fr;
	display:grid;
}

.physical{
	grid-column: 1/1;
	padding-left: 30px;
	background-color: white;
	margin-top: 60px;
	margin-left: 70px;
	margin-right: 100px;
	margin-bottom: 60px;
	padding:30px;
}


/* media query containing styles for larger screens */
@media (min-width: 720px) {

	/* container on larger screens */
	/*.container {
		width: 90%;
		max-width: 1200px;
		margin: 2em;
		margin-right: auto;
		margin-left: auto;
		padding: 2em;
		border: 1px solid #ddd;
	}

} /* end media query */
